* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background: #0A2D1F;
    color: #fff;
}

input,
button,
textarea,
select {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

button {
    background: transparent;
    border: none;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
}

.page-heading {
    font-size: 2.4rem;
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.input,
.submit-btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: transparent;
    font-weight: 600;
}

.input {
    flex: 1;
}

.submit-btn {
    flex-shrink: 0;
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.task-item {
    display: flex;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ea9652;
}

.task-item.completed {
    opacity: 0.6;
}

.task-item.completed .task-title {
    text-decoration: line-through;
}

.task-title {
    flex: 1;
}

.task-action {
    display: flex;
    gap: 16px;
}

.task-btn {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 450ms ease;
}

.task-btn.edit {
    color: #7BB662;
}

.task-btn.done {
    color: #FFD301;
}

.task-btn.delete {
    color: #E03C32;
}

.task-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.7;
}

.empty-message {
    font-style: italic;
    text-align: center;
    opacity: 0.7;
    list-style: none;
}